$color: #eee;
body {
    user-select: none;
    background-color: $color;
}
img {
    -webkit-user-drag: none;
}
.demo-logo {
    width: 120px;
    height: 32px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 6px;
    margin: 0 auto;
}
